@tailwind base;
@tailwind components;
@tailwind utilities;


h2 {
  color: #2C3494;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #2C3494;
}

.bg-button {
  background: #4dbef4;
}

.bg-primary {
  background-color: #6A4CF5;
}